# Ignore all .config files in Node-RED data folder
# nodered/data/.config*
nodered/data/.config.runtime.json
nodered/data/.config.runtime.json.backup
brief.pdf
brief.txt
.DS_Store
tf-commands.txt
useful-docker-commands.txt
az-cli-commands.txt
mqtt-sample.txt
Plan.md
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
