# Ignore all .config files in Node-RED data folder
# nodered/data/.config*
nodered/data/.config.runtime.json
nodered/data/.config.runtime.json.backup
brief.pdf
brief.txt
tf-commands.txt
useful-docker-commands.txt
Plan.md
.terraform/
