etc/
.DS_Store
.terraform/
.github/copilot-instructions.md
terraform.tfvars
terraform.tfstate.*
env.auto.tfvars
*.tfstate
*.tfstate.backup
.env
arm-template-*.json
Azure/redis/
docker-compose-mqtt.yml
readme.md
vms/

