# Ignore all .config files in Node-RED data folder
# nodered/data/.config*
nodered/data/.config.runtime.json
nodered/data/.config.runtime.json.backup
nodered/data/node_modules/
nodered/data/.npm
nodered/data/certificates
nodered-backup/

server/node_modules/
server/.env*
server/certificates/

mosquitto/data/
mosquitto/log/