apiVersion: 1

datasources:
  - name: Redis
    type: redis-datasource
    access: proxy
    url: redis://redis:6379
    isDefault: true
    jsonData:
      client: standalone
      poolSize: 5
      timeout: 10
    editable: true
